body{
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
    margin: 0%;
}
h1{
    font-size: 50px;
    color: #585656;
    font-weight: 900px;
    line-height: 0.6;
    
}
.just-eat-healthy img{
    width: 130%;
    
    
}
.just-eat-healthy{
    width: 35%;
    margin-left:55px;
    margin-top: 90px;

}
.just-eat-healthy p{
    color: gray;
    margin-bottom: 50px;
    
}
.skip-eat{
    color: orange;
}
.first-pic{
 text-decoration:none ;
 background-image:linear-gradient(to right, rgb(243, 192, 97), #FF5349);
 padding: 20px 45px;
 border-radius: 30px;
 color: white;
 font-weight: 700;
 box-shadow: 10px 10px 15px rgb(241, 171, 145);
}
